.container-ft {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f8f1e2;
}

.ft {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    width: 1220px;

    &__page {
        p {
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: left;
        }
    }

    &__social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        width: 40%;
        margin-right: 75px;

        button {
            height: 50px;
            width: 250px;
            background-color: #e3cea3;
            border: 0;
            cursor: pointer;
            font-size: 12px;
            font-weight: bold;
            line-height: 15px;
            letter-spacing: 0px;
            text-align: center;
            color: #2d2d2d;

            &:hover {
                background-color: #e0c388;
            }
        }
    }
}
